
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
      <div class="login100-form validate-form">
        <div class="sign">
          <span class="alik">
          Sign
        </span>
          <span class="express">
          Up
        </span>
        </div>
        <div class="wrap-input100 rs1 validate-input" data-validate="First name is required">
          <input class="input100" type="text" [(ngModel)]="firstname" placeholder="Имя">
          <span class="focus-input100-1"></span>
          <span class="focus-input100-2"></span>
        </div>

        <div class="wrap-input100 rs1 validate-input" data-validate="Last name is required">
          <input class="input100" type="text" [(ngModel)]="lastname"  placeholder="Фамилия">
          <span class="focus-input100-1"></span>
          <span class="focus-input100-2"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
          <input class="input100" type="text" [(ngModel)]="username" placeholder="Имя пользователя">
          <span class="focus-input100-1"></span>
          <span class="focus-input100-2"></span>
        </div>

        <div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
          <input class="input100" type="password" [(ngModel)]="password"  placeholder="Пароль">
          <span class="focus-input100-1"></span>
          <span class="focus-input100-2"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
          <input class="input100" type="text" [(ngModel)]="email" placeholder="Email">
          <span class="focus-input100-1"></span>
          <span class="focus-input100-2"></span>
        </div>

        <div class="container_login_btn ">
          <button (click)="registerUser()" class="login_form_btn">
            Зарегистрироваться
          </button>
        </div>

        <div class="text-center">
						<span class="txt1">
							Есть аккаунт?
						</span>

          <a routerLink="/login" routerlinkactive="active" class="txt2 hov1">
            Войти
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
