<section class="cat_product_area section_gap">
  <div class="container">
    <div class="row flex-row-reverse">
      <div class="col-lg-9">
        <div class="product_top_bar">
          <div class="left_dorp">
            <select class="sorting" [(ngModel)]="ordering" (ngModelChange)="getOrderedProducts()">
              <option value="name">По названию</option>
              <option value="price">По цене</option>
              <option value="-timestamp">По новизне</option>
            </select>
            <select class="show">
              <option value="1">По 12</option>
              <option value="2">По 14</option>
              <option value="4">По 16</option>
            </select>
          </div>
        </div>

        <div class="latest_product_inner">
          <div class="row">
            <div class="col-lg-4 col-md-6" *ngFor="let product of products">
              <div class="single-product">
                <div class="product-img">
                  <img
                    [routerLink]="['/store/products', product.id]"
                    class="card-img"
                    src="{{product.image}}"
                    alt=""
                  />
                </div>
                <div class="product-btm">
                  <a [routerLink]="['/store/products', product.id]" class="d-block">
                    <h4>{{product.name}}</h4>
                  </a>
                  <div class="mt-3">
                    <span class="mr-4" *ngIf="product.has_discount === false">{{product.price}}тг</span>
                    <span class="mr-4" *ngIf="product.has_discount">{{product.price_with_discount}}тг</span>
                    <del *ngIf="product.has_discount">{{product.price}}тг</del>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="left_sidebar_area">
          <aside class="left_widgets p_filter_widgets">
            <div class="l_w_title">
              <h3>Категории</h3>
            </div>
            <div class="widgets_inner">
              <ul class="list">
                <li>
                  <a (click)="getProducts()">Все</a>
                </li>
                <li *ngFor="let category of categories">
                  <a (click)="getProductsByCategory(category.id)">{{category.name}}</a>
                </li>
              </ul>
            </div>
          </aside>

          <aside *ngIf="fabricators.length" class="left_widgets p_filter_widgets">
            <div class="l_w_title">
              <h3>Производители</h3>
            </div>
            <div class="widgets_inner">
              <ul class="list">
                <li *ngFor="let fabricator of fabricators">
                  <a (click)="getProductsByFabricator(fabricator.id)">{{fabricator.name}}</a>
                </li>
              </ul>
            </div>
          </aside>

          <aside class="left_widgets p_filter_widgets">
            <div class="l_w_title">
              <h3>Цена</h3>
            </div>
            <div class="widgets_inner">
              <div class="range_item">
                <div id="slider-range"></div>
                <div class="">
                  <input type="text" id="amount" [(ngModel)]="priceRange" readonly />
                </div>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
</section>
