<section class="feature-area section_gap_bottom_custom">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="single-feature">
          <a href="#" class="title">
            <i class="flaticon-money"></i>
            <h3>ГАРАНТИЯ ВОЗВРАТА ДЕНЕГ</h3>
          </a>
          <p>Гарантия возврата продукта, если он не соответствует заявленным характеристикам или просто не понравился клиенту.</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="single-feature">
          <a href="#" class="title">
            <i class="flaticon-truck"></i>
            <h3>бесплатная доставка</h3>
          </a>
          <p>Быстрая, бесплатная и безопасная доставка по всему Казахстану. Текст чтобы было на одном уровне с остальными</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="single-feature">
          <a href="#" class="title">
            <i class="flaticon-support"></i>
            <h3>постоянная поддержка</h3>
          </a>
          <p>Наши операторы готовы помочь вам в любое время суток, независимо от вашего местонахождения и времени суток</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="single-feature">
          <a href="#" class="title">
            <i class="flaticon-blockchain"></i>
            <h3>безопасный способ оплаты</h3>
          </a>
          <p>Для повседневных покупок клиенты могут пользоваться удобными и безопасными способами оплаты</p>
        </div>
      </div>
    </div>
  </div>
</section>
