<section class="home_banner_area mb-40">
  <div class="banner_inner d-flex align-items-center">
    <div class="container">
      <div class="banner_content row">
        <div class="col-lg-12">
          <p class="sub text-uppercase">Своя коллекция</p>
          <h3><span>Мы</span> говорим <br />Нет <span>китайцам</span></h3>
          <h4>Мы действуем во тьме, чтобы служить свету!</h4>
          <a class="main_btn mt-40" routerLink="/store">Просмотр коллекции</a>
        </div>
      </div>
    </div>
  </div>
</section>
