
<div class="footer" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <h4 class="logo"> Alik<span>express</span> </h4>
        <p class="pull-left copyright"> Copyright © WebDev 2020. Все права защищены. </p>

      </div>
      <div class="col-lg-3 col-sm-2 col-xs-3">
        <h3> Контакты </h3>
        <ul>
          <li><a class="email"href="#"> alikexpress@kbtu.kz </a></li>
          <br/>
          <li> <p> Нурсултан, Толе би, 50 </p> </li>
          <li> <p> Алматы, Абай, 23а </p> </li>
        </ul>
      </div>
      <div class="col-lg-3 col-sm-2 col-xs-3">
        <ul class="quick-links">
          <li> <h5><a routerLink="/store"> Продукты </a> </h5></li>
          <li> <h5><a routerLink="/store"> Корзина </a> </h5></li>
          <li> <h5><a routerLink=""> Правила использования </a> </h5></li>
        </ul>
      </div>
      <!--/.row-->
    </div>
    <!--/.container-->
  </div>
  <!--/.footer-->
