.cart_area {
  padding-top: 100px;
  padding-bottom: 100px;
}
.cart_inner .table thead tr th {
  border-top: 0px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto",sans-serif;
  color: #797979;
  border-bottom: 0px !important;
}

.cart_inner .table tbody tr td {
  padding-top: 30px;
  padding-bottom: 30px;
  vertical-align: middle;
  align-self: center;
}

.cart_inner .table tbody tr td .media .d-flex {
  padding-right: 30px;
}

.cart_inner .table tbody tr td .media .d-flex img {
  border: 1px solid #eeeeee;
  border-radius: 3px;
  max-height: 140px;
  max-width: 140px;
}

.cart_inner .table tbody tr td .media .media-body p {
  margin-bottom: 0px;
}

.cart_inner .table tbody tr td h5 {
  font-size: 14px;
  color: #2a2a2a;
  font-family: "Roboto",sans-serif;
  margin-bottom: 0px;
}

.cart_inner .table tbody tr td .product_count {
  margin-bottom: 0px;
}

.cart_inner .table tbody tr td .media .media-body {
  vertical-align: middle;
  align-self: center;
}

.cart-total {
  padding-right: 10px;
  align-items: center;
  float: right;
}


